@import url("./_variaveis.css");
@import url("./_reset.css");

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: var(--peso-padrao);
    font-size: 1rem;
    line-height: 1.5rem;
}

.bg-tela-inicial {
    background-color: var(--azul);
    background-image:
        url("../../img/vetor-topo.svg"),
        url("../../img/vetor-lateral.svg");
    background-position: top left, 100% 11.5rem;
    background-repeat: no-repeat;
    z-index: 1;
}

.bg-patas-vetor-esquerda {
    background-image:
        url(../../img/Patas.svg), url(../../img/vetor-topo.svg), url(../../img/vetor-lateral-esquerda.svg);
    background-position: top right, top left, 0 23rem;
    background-repeat: no-repeat;
}

.bg-animais {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image:
        url(../../img/vetor-topo.svg);
    background-position: top left;
    background-repeat: no-repeat;
}

.logo {
    margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    .bg-tela-inicial {
        background-image:
            url("../../img/vetor-topo-desketop.svg"),
            url("../../img/vetor-lateral--desktop.svg");
    }

    .bg-patas-vetor-esquerda {
        background-image:
            url(../../img/Patas-desktop.svg), 
            url(../../img/vetor-topo-desketop.svg), 
            url(../../img/vetor-lateral--desktop.svg);
        background-position: top right, top left, 100% 15rem;
        background-repeat: no-repeat;
    }

    .bg-animais {
        background-image: url("../../img/vetor-topo-desketop.svg");
    }

    .logo {
        width: 250px;
    }
}

@media screen and (min-width:1440px) {
    .bg-animais {
        background-image: 
            url("../../img/vetor-topo-desketop.svg"),
            url("../../img/vetor-lateral--desktop.svg");
        background-position: top left, right center;
    }
}