.chamada {
    background-image:
        url("../img/ilustração-animais.svg");
    background-position: bottom -1.15rem left -1rem;
    background-repeat: no-repeat;


    text-align: center;
    width: 15.625rem;
    margin: 0 auto;
    min-height: 38rem;
    flex-grow: 1;
}

.chamada__titulo {
    color: var(--branco);
    font-family: var(--fonte-personalizada);
    font-style: normal;
    font-weight: var(--peso-titulo);
    font-size: var(--tamanho-titulo);
    line-height: 3rem;
}

.chamada__texto {
    color: var(--branco);
    margin-bottom: 1.5rem;
    line-height: 26px;
}

.chamada__link {
    color: var(--branco);
    display: block;
    background: var(--coral);
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: var(--peso-botao);
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    width: 11.25rem;
    margin: 0 auto 1rem;
    box-sizing: border-box;
}

.chamada__link:hover {
    cursor: pointer;
    background-color: var(--coral-claro);
}

@media screen and (min-width: 768px) {
    .chamada {
        width: 344px;
        background-position: bottom -2rem left -1rem;
        background-size: 338.28px 442px;
        min-height: 47rem;
    }

    .chamada__titulo {
        font-size: 1.75rem;
    }

    .chamada__texto {
        font-size: 1.125rem;
    }

    .chamada__link {
        width: 100%;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        
    }
}

@media screen and (min-width:1440px) {
    .chamada {
        background-position: bottom -2rem left 3rem;
        width: 488px;
    }

    .chamada__titulo {
        margin-bottom: 1.5rem;
    }

    .chamada__texto {
        margin-bottom: 2rem;
    }

    .chamada__link {
        width: 360px;
    }
}