body {
    background: url("../img/vetor-topo.svg") no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 87%;
    margin: 0 auto;  
    flex-grow: 1;
    max-width: 552px;
}

.introducao {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-padrao);
    font-size: 1rem;
    line-height: 1.312rem;
    text-align: center;
    margin: 0 auto 2.5rem;
    width: 75%;
}

.form-cinza {
    background-color: var(--cinza-claro-fundos);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.form__etiqueta,
.form__input {
    display: block;
}

.form__etiqueta {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-botao);
    line-height: 24px;
    margin-bottom: .5rem;
}

.form__input {
    width: 100%;
    height: 3rem;
    background-color: var(--branco);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.form__input::placeholder {
    color: var(--cinza-claro);
}

.form__input--mensagem {
    resize: vertical;
    min-height: 170px;
}

.form__botao {
    background: var(--coral);
    border-radius: 6px;
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-botao);
    line-height: 24px;
    width: 148px;
    height: 40px;
    margin: 0 auto;
    align-self: center;
}

@media screen and (min-width: 768px) {
    body {
        background: 
            url("../img/vetor-topo-desketop.svg") no-repeat,
            url("../img/vetor-lateral--desktop.svg") no-repeat;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-position: 0 0, right center;
    }
}