body {
    background: url("../img/vetor-topo.svg") no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 87%;
    margin: 0 auto;  
    flex-grow: 1;
    max-width: 552px;
}

.introducao {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-padrao);
    font-size: 1rem;
    line-height: 1.312rem;
    text-align: center;
    margin: 0 auto 2.5rem;
    width: 75%;
}

@media screen and (min-width: 768px) {
    body {
        background: 
            url("../img/vetor-topo-desketop.svg") no-repeat,
            url("../img/vetor-lateral--desktop.svg") no-repeat;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-position: 0 0, right center;
    }
}