body {
    background: url("../img/vetor-topo.svg") no-repeat;
}

.container {
    width: 312px;
    text-align: center;
    margin: 0 auto;
}

.form-cinza {
    min-height: 70vh;
}

.conteudo__introducao {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-padrao);
    font-size: 1rem;
    line-height: 1.312rem;
    text-align: center;
    margin-bottom: 2.5rem;
    width: 226px;
}