.app {
    background: #3772FF;
    font-family: 'Poppins', sans-serif;
}

.vetor-topo {
    position: absolute;
}

.vetor-lateral {
    position: absolute;
    width: 84.03px;
    height: 415px;
    right: 0;
    top: 199px;
}

.ilustracao-animais {
    position: absolute;
    top: 518px;
    right: 0;
    bottom: 0;
    height: 312.77px;
    width: 247.34px;
    left: 33.66px;
    margin: 0 auto;
}

.cabecalho {
    align-items: flex-end;
    display: flex;
    height: 4.25rem;
    gap: 3.625rem;
    padding-left: 3rem;
    position: absolute;
}

.logo {
    position: absolute;
    top: 168px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 186.67px;
    height: 46px;
    margin: 0 auto;
}

.container {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    color: #fff;
    top: 238px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 248px;
    gap: 24px;
    text-align: center;
}

.container__titulo {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
}

.container__paragrafo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container__botao {
    width: 180px;
    left: 90px;
    top: 398px;
    padding: 8px;
    text-align: center;
    background: #FC7071;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
}









.rodape {
    align-items: center;
    background: #36D6AD;
    color: #fff;
    display: flex;
    height: 6.5rem;
    justify-content: center;
    width: 100vw;

    position: absolute;
    top: 813px;
}