.app {
    background: #3772FF;
    font-family: 'Poppins', sans-serif;
}

.vetor-topo {
    position: absolute;
}

.vetor-lateral {
    position: absolute;
    width: 84.03px;
    height: 415px;
    right: 0;
    top: 199px;
}

.ilustracao-animais {
    position: absolute;
    top: 518px;
    height: 312.77px;
    left: 33.66px;
    margin: auto;
}

.cabecalho {
    align-items: flex-end;
    display: flex;
    height: 4.25rem;
    gap: 3.625rem;
    padding-left: 3rem;
    position: absolute;
}

.rodape {
    align-items: center;
    background: #36D6AD;
    color: #fff;
    display: flex;
    height: 6.5rem;
    justify-content: center;
    width: 100vw;

    position: absolute;
    top: 813px;
}