.cabecalho {
    padding: 3.125rem 3rem 5.437rem;
    z-index: 1;
}

.cabecalho__nav {
    align-items: center;
    display: flex;
    gap: 50px;
    position: relative;
}

.cabecalho__link-usuario {
    position: absolute;
    right: 0;
}