.cabecalho {
    padding: 3.125rem 3rem 6.25rem;
}

.cabecalho__link {
    padding-right: 3.625rem;
}

.cabecalho--patas {
    background-image: url(../../img/Patas.svg);
    background-position: top right;
    background-repeat: no-repeat;
}