.cabecalho {
    padding: 3.125rem 3rem 5.437rem;
    z-index: 1;
}

.cabecalho__logo {
    display: none;
}

.cabecalho__nav {
    align-items: center;
    display: flex;
    gap: 50px;
    position: relative;
}

.cabecalho__link-usuario {
    position: absolute;
    right: 0;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 3.125rem 3rem 11.25rem;
    }

    .cabecalho__logo {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        padding-bottom: 2.25rem;
    }
}