.conteudo {
    text-align: center;
    width: 19.5rem;
    margin: 0 auto;
    min-height: 42.5rem;
}

.conteudo--flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.conteudo__introducao {
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-weight: var(--peso-padrao);
    font-size: 1rem;
    line-height: 1.312rem;
    text-align: center;
}